
.nbgrader.log
.vscode/
Prosjektoppgaver/_løsningsforslag/
Programkode/ikke_i_github/
Programkode/__pycache__/
Fagstoff/.ipynb_checkpoints/
Programkode/.DS_Store
Programkode/Løsningsforslag/.DS_Store
Programkode/Diverse/.DS_Store
Fagstoff/.DS_Store
.DS_Store
